{{ define "main" }}
  {{ range sort .Paginator.Pages }}
  <article class="book-post markdown">
    <h2>
      <a href="{{ .RelPermalink }}">{{ partial "docs/title" . }}</a>
    </h2>
    <div class="book-post-container flex gap">
      <div>
        {{ partial "docs/post-meta" . }}
        <div class="book-post-content markdown-inner">
          {{- .Summary | truncate 256 -}}
        </div>
      </div>
      {{- $thumbnail := default "thumbnail.*" .Params.BookPostThumbnail -}}
      {{- $img := or (.Resources.GetMatch $thumbnail) (resources.GetMatch $thumbnail) -}}
      {{- if $img -}}
      <div class="book-post-thumbnail">
        <img src="{{ $img.RelPermalink }}" alt="{{ partial "docs/text/i18n" "Thumbnail" }}" />
      </div>
      {{- else if .Params.cover -}}
        {{- with .Params.cover.image -}}
      <div class="book-post-thumbnail">
        <img src="{{ . }}" alt="{{ $.Params.cover.alt | default "" }}" />
      </div>
        {{- end -}}
      {{- end -}}
    </div>
  </article>
  {{ end }}
{{ end }}

{{ define "toc-container" }}{{ end }}

{{ define "footer" }}
  {{ partial "docs/pagination.html" . }}
{{ end }}
